<head>
  <h1>Michael Strunge</h1>
</head>
<style>
  h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    display: flex;
    justify-content: center;
  }
</style>
