<div id="map"></div>
<article>
  <p id="tekst"></p>
</article>

<style>
  #map {
    grid-area: 1 / 1;
  }

  #tekst {
    grid-area: 1 / 1;
    background-color: rgb(117, 64, 64);
    width: 200px;
    height: 200px;

    z-index: 1;
  }
</style>
