<section>
    <video src="/Michaelstrungemasterlyd.mp4" controls></video>
</section>

<style>

    video {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
</style>